#header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
}

.topic-btn {
    margin: 5px;
    background-color: black;
    color: white;
    font-size: 20pt;
}

#topic-input{
    width: 100%;
    border: solid 2pt black;
}

#add-topic {
    background-color: black;
    color: white;
    font-size: 15pt;
    width: 100%;
}

#add-topic:hover {
    color: blueviolet;
}


button:hover {
    color: blueviolet;
}


#topic-text {
    text-align: center;
    color: blueviolet;
    background-color: black;
    font-size: 25pt;
    font-weight: bold;
    padding: 10px;
    width: 100%;

}


.topic {
    text-align: center;
    float: left;
    margin: 5px;
    border: solid 5px black;
}

p {
    text-align: center;
    color: thistle;
    background-color: black;
    padding: 10px;
    width: 100%;

}